
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  transition-delay: 99999s;
}

.fo-home-input {
  @include textStyle(1rem, $weight: 400, $color: $primary-text-color, $align: left);
  height: 3rem;
  width: 100%;
  text-indent: 3.5rem;
  border-radius: $br-value;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: $color-gray-darkest;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .4), 0 -1px 1px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.1);

  &:disabled {
    color: darken($primary-text-color, 0.4);
  }

  &::placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    color: lighten($primary-text-color, 0.3);
  }

  &.popup-input {
    text-indent: 0;
    text-align: center;
  }
}


.home-holder-bar {
  display: inline-block;
  width: 85%;
  max-width: 400px;
  margin: 0.5rem auto 0.5rem auto;

  > div:first-child {
    float: left;
  }

  > div:last-child {
    float: right;
  }

  a {
    @include textStyle(1rem, $weight: 100, $color: $color-gray-lighter);
  }

  .home-checkbox input {
    height: 1.25rem;
    width: 1.25rem;
    line-height: 1.25rem;
    margin: 0;
    color: $primary-color;
    vertical-align: middle;
  }

  .home-checkbox label {
    @include textStyle(1rem, $line-height: 1.25rem, $weight: 100, $color: $primary-text-color);
    margin: 0;
  }
}

.home-table-cell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.home-table-cell {
  vertical-align: top;
  padding-top: 10px;

  .field-input-area,
  .button {
    width: 85%;
    max-width: 400px;
    @include flexCenter();
  }
}

.home-login-btn{
  width: 85%;
  @include bgGradient($gradient-angle, $primary-btn-color, $primary-btn-color-dark);
  color: $primary-btn-text-color;
  @include dropDownShadow();
}

.home-reg-btn {
  width: 85%;
  @include bgGradient(top, $secondary-btn-color, $secondary-btn-color-dark);
  color: $secondary-btn-text-color;
}
